@import "./variables.css";
header {
    padding: 15% 0%;
    text-align: center;
    margin-bottom: 15vw;
}

section {
    display: flex;
    justify-content: center;
}

section form {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#form-submit {
    align-self: center;
    margin-top: 20%;
}

#form-register {
    font-size: 3.5vw;
    align-self: center;
    margin-top: 10%;
}

@media only screen and (min-width: 600px) {
    header {
        padding: 2% 1%;
        text-align: left;
        margin-bottom: 8vw;
        font-size: 1vw;
    }
    section form {
        max-width: 30%;
        border-radius: 5px;
    }
    #form-submit {
        margin-top: 10%;
    }
    #form-register {
        font-size: .9vw;
        margin-top: 3%;
    }
}