* {
    border: 0%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --main-element-bg-color: #26DED8;
    --main-element-font-color: #FFFFFF;
    --main-element-font-family: 'Varela Round', sans-serif;
    --label-font-color: #5B5C61;
    --main-button-color: #FA9458;
}

body {
    font-family: 'Roboto', sans-serif;
}

.text-input {
    padding: 5%;
    border: 1px solid #C7C9D4;
    border-radius: 3px;
    margin: 2% 0% 5% 0%;
}

.main-button {
    background-color: #FA9458;
    border: 0px;
    color: #FFFFFF;
    padding: 4vw;
    width: 70%;
    border-radius: 50vw;
    text-transform: uppercase;
}

.form-label {
    color: var(--label-font-color);
    font-size: 3vw;
}

.form-anchor {
    color: var(--main-button-color);
    text-decoration: none;
    text-transform: uppercase;
}

header {
    background-color: var(--main-element-bg-color);
    color: var(--main-element-font-color);
    font-family: var(--main-element-font-family);
    font-weight: bold;
}

@media only screen and (min-width: 600px) {
    .text-input {
        padding: 4%;
    }
    .main-button {
        padding: 1vw;
        width: 50%;
    }
    .main-button {
        font-size: 1vw;
    }
    .form-label {
        font-size: .9vw;
    }
}